/* Mixins ***************************************************************************************/
// Transparent Button
.button-transparent {
    @include button(rem-calc(12), false, false, false, false);
    //padding: rem-calc(10) rem-calc(30);
    font-size: 1.4rem;
    border: 2px solid white;
    color: white;
    transition: all .2s ease-in-out;
}
.button-transparent:hover {
    background: white;
} 
.primary, .indermediate, .secondary {
    transition: all .2s ease-in-out;
}    
.primary:hover {
    color: $primary-color;   
}
.intermediate:hover {
    color: $intermediate-color;   
}
.secondary:hover {
    color: $secondary-color;   
}

/* Custom CSS ***********************************************************************************/
#homepage-hero {
    background: url("/img/brain-cell-logo.svg") no-repeat top center;
    height: 100vw;
    max-height: 75vh;
    padding: 0 rem-calc(20) 0;
    position: relative;
}
#hero-title {
    max-width: 100vh;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
}
#cta-button, #meet-the-team-button {
    transition: all .2s ease-in-out;
}
#cta-button:hover, #meet-the-team-button:hover {
    opacity: 0;   
}
#cta-wrapper {
    background: url("/img/cta-button-hover.svg") no-repeat;
    background-size: cover;
}
#meet-the-team-wrapper {
    background: url("/img/meet-the-team-button-hover.svg") no-repeat;
    background-size: cover;
}
.down-arrow, .up-arrow {
    display: inline-block;
    max-width: 50px;
    padding-bottom: 15px;
    margin: 0 5vw;
}
#what-we-do, #back-to-top {
    display: inline-block;
    margin-top: 30px;   
}  
h3 > a {
    color: black;
    transition: all .2s ease-in-out;
}
.section-icons img {
    display: block;
    margin: auto;
    max-width: 400px;  
}
.icon-shadow {
    position: absolute;
    width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(-225%);
    opacity: 0;
}
#websites-section {
    background: $primary-color;
    margin-top: rem-calc(70);
}
#applications-section {
    background: $intermediate-color;
}
#solutions-section {
    background: $secondary-color;
}
#websites-section, #applications-section, #solutions-section {
    padding-top: rem-calc(30);  
    
    h2 {
        color: white;   
    }
    
    @media (max-width: 642px) {
        p, ul {
            text-align: center;
        }
        ul {
            list-style-position: inside;   
        }
        h2 {
            font-size: 1.7rem;   
        }
    }   
    @media #{$small-only} {
        h2 {
            font-size: 1.5rem;   
        } 
    }
}
#did-you-know {
    background: rgba(255, 255, 255, 0.3);
    border-radius: rem-calc(15);
    padding: rem-calc(10) rem-calc(20) 0;
    
    p {
        padding-bottom: rem-calc(10); 
        text-align: left;
        line-height: 1.5rem;
    }
    @media #{$small-only} {
        p {
            font-size: .9rem;  
            line-height: 1rem;
        }
        h3 {
            font-size: 1.2rem;   
        }
    }
}
#team-paragraph {
    font-size: 1.3rem; 
    
    margin-top: 30px;
    
    @media (max-width: 355px) {
        font-size: 1rem;   
    }
    @media #{$large-up} {
        font-size: 1.5rem;
    }
}
.team-photos-list {
    
    a {
        color: black;   
    }
    figcaption {
        font-size: 1.4rem;  
    }
    
    p {
        line-height: .5rem;
        font-family: $sansation-light-italic;   
    }
    
}
footer {
    background: DimGray; 
    margin-top: 30px;
}
#back-to-top {
    color: black; 
    transition: all .2s ease-in-out;
    font-size: 1.2rem;
    
    @media #{$medium-up} {
        font-size: 1.4rem;   
    }
}
#back-to-top:hover {
    color: $primary-color;   
}
.contact-icons {

    img {
        margin: 10%;
        border-radius: 22px;
        transition: all .2s ease-in-out;
    }
    
    img:hover {
        background: rgba(0,0,0,.2); 
    } 
}
 
li.tab-title {
    margin: 0;
    padding: 0;
    width: 25%;
    text-align: center;
}
ul.accordion {
    margin: 0;
    padding: 0;
    width: 100%;   
}
.accordion h1, .tabs-content h1 {
    color: white;  
    padding-bottom: 15px;
}
#websites-accordion, #websites-tab {
    background: $primary-color;
}
#applications-accordion, #applications-tab {
    background: $intermediate-color;
}
#solutions-accordion, #solutions-tab {
    background: $secondary-color;
}
#websites-tab img, #applications-tab img, #solutions-tab img {
    width: 40%;
}
.accordion-content {

    h2 {
        font-family: $sansation-light-italic;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    p {
        margin-left: 1rem; 
        margin-right: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    
    p:not(:last-child) {
        border-bottom: 1px solid DimGray;   
    }
    
    @media #{$small-only} {
        p {
            font-size: rem-calc(16);   
        }
    }
}


/* Small Only ************************************************************************************/
@media #{$small-only} {  
    .down-arrow, .up-arrow {
        max-width: 30px;  
        padding-bottom: 5px;
    }
    h2 {
        font-size: rem-calc(19);   
    }
    h3, footer p {
        font-size: rem-calc(14);   
    }
}

/* Medium Up ************************************************************************************/
@media #{$medium-up} {
    .valign-middle {
        display: table;
    }

    .valign-middle .columns {
        display: table-cell;
        vertical-align: middle;
    }

    .valign-middle .columns,
    .valign-middle [class*="column"] + [class*="column"]:last-child {
        float: none;
    }   
}


