/* Mixins ***************************************************************************************/
// Transparent Button
.button-transparent {
    @include button(rem-calc(12), false, false, false, false);
    //padding: rem-calc(10) rem-calc(30);
    font-size: 1.4rem;
    border: 2px solid white;
    color: white;
    transition: all .2s ease-in-out;
    &:hover {
        background: white;
    }
} 
.primary, .indermediate, .secondary {
    transition: all .2s ease-in-out;
}    
.primary:hover {
    color: $primary-color;   
}
.intermediate:hover {
    color: $intermediate-color;   
}
.secondary:hover {
    color: $secondary-color;   
}

.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

/* Custom CSS ***********************************************************************************/
#homepage-hero {
    background: url("/img/brain-cell-logo.svg") no-repeat top center;
    height: 100vw;
    max-height: 75vh;
    padding: 0 rem-calc(20) 0;
    position: relative;
}
#hero-title {
    max-width: 100vh;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
}
#cta-button, #meet-the-team-button {
    transition: all .2s ease-in-out;
}
#cta-button:hover, #meet-the-team-button:hover {
    opacity: 0;   
}
#cta-wrapper {
    background: url("/img/cta-button-hover.svg") no-repeat;
    background-size: cover;
}
#meet-the-team-wrapper {
    background: url("/img/meet-the-team-button-hover.svg") no-repeat;
    background-size: cover;
}
.down-arrow, .up-arrow {
    display: inline-block;
    max-width: 50px;
    padding-bottom: 15px;
    margin: 0 5vw;
}
#what-we-do, #back-to-top {
    display: inline-block;
    margin-top: 30px;   
}  
h3 > a {
    color: black;
    transition: all .2s ease-in-out;
}
.section-icons img {
    display: block;
    margin: auto;
    max-width: 400px;  
}
.icon-shadow {
    position: absolute;
    width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(-225%);
    opacity: 0;
}
#websites-section {
    background: $primary-color;
    margin-top: rem-calc(70);
}
#applications-section {
    background: $intermediate-color;
}
#solutions-section {
    background: $secondary-color;
}
#websites-section, #applications-section, #solutions-section {
    padding-top: rem-calc(30);  
    
    h2 {
        color: white;   
    }
    
    @media (max-width: 642px) {
        p, ul {
            text-align: center;
        }
        ul {
            list-style-position: inside;   
        }
        h2 {
            font-size: 1.7rem;   
        }
    }   
    @media #{$small-only} {
        h2 {
            font-size: 1.5rem;   
        } 
    }
}
#did-you-know {
    background: rgba(255, 255, 255, 0.3);
    border-radius: rem-calc(15);
    padding: rem-calc(10) rem-calc(20) 0;
    
    p {
        padding-bottom: rem-calc(10); 
        text-align: left;
        line-height: 1.5rem;
    }
    @media #{$small-only} {
        p {
            font-size: .9rem;  
            line-height: 1rem;
        }
        h3 {
            font-size: 1.2rem;   
        }
    }
}
#team-paragraph {
    font-size: 1.3rem; 
    
    margin-top: 30px;
    
    @media (max-width: 355px) {
        font-size: 1rem;   
    }
    @media #{$large-up} {
        font-size: 1.5rem;
    }
}
.team-photos-list {
    
    a {
        color: black;   
    }
    figcaption {
        margin-top: .8rem;
        font-size: 1.4rem; 
        line-height: 1.3rem;
    }
    
    p {
        font-family: $sansation-light-italic; 
        line-height: 1rem;
        margin-top: .5rem;
    }
    
}
li.tab-title {
    margin: 0;
    padding: 0;
    width: 25%;
    text-align: center;
}
.accordion h1, {
    color: white;  
    padding-bottom: 15px;
    display: inline;
}
#websites-accordion {
    background: $primary-color;
}
#applications-accordion {
    background: $intermediate-color;
}
#solutions-accordion {
    background: $secondary-color;
}
.accordion-content { 
        h2 {
            font-family: $sansation-light-italic;
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;
        }

        p {
            margin-left: 1rem; 
            margin-right: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;
            font-size: rem-calc(16);
        }
        div.row:not(:last-child) p {
            border-bottom: 1px solid DimGray;   
        }
    @media #{$medium-up} {
        h2 {
            font-family: $sansation-light-italic;
            text-align: right;
            font-size: 1.3rem;
        }
        p { 
            margin: 20px 0;
            padding-left: 20px;
            border-left: 1px solid DimGray;
        }
        div.row:not(:last-child) p {
            border-bottom: none;   
        }
    }
    @media #{$large-up} {
        h2 {
            font-size: 1.8rem;   
        }
    }
}
.content div a img {
    width: 15px;
    margin-left: 20px;
}
#websites-next {
    margin-top: 20px;
    
    a {
        font-size: 1.4rem; 
        color: $primary-color;
        transition: all .2s ease-in-out;
        &:hover {
            color: $intermediate-color;   
        }
    }
}
#applications-next {
    margin-top: 20px;
    
    a {
        font-size: 1.4rem; 
        color: $intermediate-color;
        transition: all .2s ease-in-out;
        &:hover {
            color: $secondary-color;   
        }
    }
}
#solutions-next {
    margin-top: 20px;
    
    a {
        font-size: 1.4rem; 
        color: $secondary-color;
        transition: all .2s ease-in-out;
        &:hover {
            color: $primary-color;   
        }
    }
}
footer {
    background: DimGray; 
    margin-top: 30px;
    h3 {
        color: white;
        font-size: 1.4rem;
        margin-top: 1rem;
        
        @media #{$medium-up} {
            font-size: 1.6rem;   
        }
    }
    #cta-wrapper {
        background: url("/img/cta-button-gray.svg") no-repeat;
        margin-bottom: .3rem;
    }
    h4 {
        line-height: 1rem;
        margin-top: 1rem;
    }
    ul {
        line-height: 1.2rem;  
        list-style: none;
        margin-left: 0;
    }
    li {
        margin-top: .5rem; 
        font-size: .9rem;
    }
    li:not(:last-of-type) {
        padding-bottom: .3rem;
        border-bottom: 1px solid rgb(81, 81, 81);
    }
    @media #{$medium-up} {
        li:not(:last-of-type) {
            border-bottom: none; 
            padding-bottom: none;
        }
        li:not(:last-of-type)>a {
            padding-bottom: .5rem;
            border-bottom: 1px solid rgb(81, 81, 81);  
        }
    }
    p:last-of-type {
        font-size: .8rem;  
        color: rgb(50, 50, 50);
        margin-bottom: 0;
    }
    #back-to-top {
        margin-top: 0;
        color: black; 
        transition: all .2s ease-in-out;
        font-size: 1.2rem;

        @media #{$medium-up} {
            font-size: 1.4rem;   
        }
        &:hover {
            color: $primary-color;   
        }
    }
}
#contact-imgs {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(81, 81, 81);
    img {
        width: 20%; 
        max-width: 60px;
        margin-right: .5rem;
        
        @media (min-width: 380px) {
            margin-right: 1.5rem;   
        }
        @media #{$medium-up} {
            margin-right: 1rem;   
        }
    }
    a {
        font-size: .8rem;
        
        @media (min-width: 342px) {
            font-size: 1rem;   
        }
        @media (min-width: 440px) {
            font-size: 1.2rem;   
        }
        @media (min-width: 500px) {
            font-size: 1.4rem;   
        }
        @media #{$medium-up} {
            font-size: 1rem;
        }
        @media #{$large-up} {
            font-size: 1.4rem;
        }
    }
    div {
        margin-top: 1.5rem;
        @media #{$medium-up} {
            margin-top: 1rem;
        }    
    }
    div:last-of-type {
        margin-top: 1rem;   
    }
}
#social-imgs div a img {
    max-width: 50px;
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.2,1.2);
    } 
}
#logo-cropped-banner {
    border-bottom: 1px solid rgb(81, 81, 81);
    div:last-of-type {
        padding: 0;
    }
}
#form-wrapper {
    background: $intermediate-color; 
    p, label {
        color: white;   
    }
    p:first-of-type {
        margin-top: rem-calc(20);
        @media #{$large-up} {
            font-size: 1.6rem;   
        }
    }
    #accordion-container {
        margin-bottom: rem-calc(20); 
    }
    +footer {
        margin-top: 0;   
    }
    #panel1 {
        background: #69DBB3;
        padding: rem-calc(20);
    }
}
@media #{$medium-only} {
    #social-imgs div:last-child, #social-imgs div:nth-last-child(2) {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    #social-imgs div a img {
        max-width: 50px;
    }
}






/* Small Only ************************************************************************************/
@media #{$small-only} {  
    .down-arrow, .up-arrow {
        max-width: 30px;  
        padding-bottom: 5px;
    }
    h2 {
        font-size: rem-calc(19);   
    }
    h3, footer p {
        font-size: rem-calc(14);   
    }
}

/* Medium Up ************************************************************************************/
@media #{$medium-up} {
    .valign-middle {
        display: table;
    }

    .valign-middle .columns {
        display: table-cell;
        vertical-align: middle;
    }

    .valign-middle .columns,
    .valign-middle [class*="column"] + [class*="column"]:last-child {
        float: none;
    }  
    
    #websites-accordion img, #applications-accordion img, #solutions-accordion img {
        width: 50%;
    }
}


